n8n/callback_vk_test-wvl1yXoTIsoL.json
{
  "name": "Callback_vk_test",
  "nodes": [
    {
      "parameters": {
        "path": "87e382b9-7917-4c7e-88fa-745cda715ba3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        -16
      ],
      "id": "17261104-5dcf-49f0-a618-ea18a9e580bc",
      "name": "Webhook",
      "webhookId": "87e382b9-7917-4c7e-88fa-745cda715ba3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "54294575-236e-41c7-a0da-52ca74a89e1a",
              "leftValue": "={{$json.type}}",
              "rightValue": "confirmation",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        32,
        -16
      ],
      "id": "bf274471-eb49-49f5-a1a9-dc6534d14b4c",
      "name": "If"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseKey": "020ba0b2"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        256,
        -96
      ],
      "id": "9b00eb68-422e-422f-8380-b6ce04a1baca",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "meta": null
}
