n8n/l-в-цикле-запускаем-обработку-каждого-клиента-6s6bsnEb1XF4.json
{
  "name": "L В цикле запускаем обработку каждого клиента",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -112,
        0
      ],
      "id": "cd84d515-2c87-40c7-b725-cfed597c7bcb",
      "name": "Каждые 10 секунд"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "1i7LftS6sv85Bfo5",
          "mode": "list",
          "cachedResultName": "Клиенты",
          "cachedResultUrl": "/projects/IyBpQnHyeNAIQCPe/datatables/1i7LftS6sv85Bfo5"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "is_activ",
              "condition": "isTrue"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        48,
        0
      ],
      "id": "083bf0b4-35cd-409a-9f87-eeab6f606f32",
      "name": "Получаем всех клиентов"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "39052f00-ab8c-4251-8349-523bceeb0e60",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KGEiMOOXkIYkiKTN",
          "mode": "list",
          "cachedResultUrl": "/workflow/KGEiMOOXkIYkiKTN",
          "cachedResultName": "Обработка очереди. Поиск Лидов"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "client_id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "client_id"
          ],
          "schema": [
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        464,
        16
      ],
      "id": "212a0e68-61ee-4d20-9bcb-42dd0980277a",
      "name": "Обработка очереди. Поиск Лидов"
    }
  ],
  "connections": {
    "Каждые 10 секунд": {
      "main": [
        [
          {
            "node": "Получаем всех клиентов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Обработка очереди. Поиск Лидов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем всех клиентов": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обработка очереди. Поиск Лидов": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Каждые 10 секунд": {
      "recurrenceRules": []
    }
  },
  "pinData": {},
  "meta": null
}
