n8n/lidogen-discovery-vps-108-https-2GmwA9pkiGgu.json
{
  "name": "Lidogen Discovery — vps-108 (HTTPS)",
  "nodes": [
    {
      "parameters": {},
      "id": "840fa6b5-2888-481b-be08-5e12629feaad",
      "name": "Старт вручную",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1088,
        4272
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-health",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "health",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "health"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-qr_create",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "qr_create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "qr_create"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-qr_status",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "qr_status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "qr_status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-qr_delete",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "qr_delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "qr_delete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-discover",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "discover",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "discover"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-discover_groups",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "discover_groups",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "discover_groups"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-add_channel_by_link",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "add_channel_by_link",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "add_channel_by_link"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-add_channel_by_link_file",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "add_channel_by_link_file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "add_channel_by_link_file"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-bot_send_message",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "bot_send_message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "bot_send_message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-parser_start",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "parser_start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "parser_start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-parser_list",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "parser_list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "parser_list"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-parser_status",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "parser_status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "parser_status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-parser_stop",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "parser_stop",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "parser_stop"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-parser_delete",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "parser_delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "parser_delete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-channels_list",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "channels_list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "channels_list"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-add_channels",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "add_channels",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "add_channels"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-remove_channels",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "remove_channels",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "remove_channels"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-config_get",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "config_get",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "config_get"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-config_patch",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "config_patch",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "config_patch"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-add_session",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "add_session",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "add_session"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-remove_session",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "remove_session",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "remove_session"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-accounts",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "accounts",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "accounts"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-account_detail",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "account_detail",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "account_detail"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-account_channels",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "account_channels",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "account_channels"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-account_meta",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "account_meta",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "account_meta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-add_channels_sync",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "add_channels_sync",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "add_channels_sync"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-accounts_all",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "accounts_all",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "accounts_all"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-accounts_update",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "accounts_update",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "accounts_update"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-account_block",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "account_block",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "account_block"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-account_delete",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "account_delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "account_delete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-enroll_session",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "enroll_session",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "enroll_session"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-actions_list",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "actions_list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "actions_list"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-action_get",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "action_get",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "action_get"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-settings",
                    "leftValue": "={{ $json.endpoint }}",
                    "rightValue": "settings",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "settings"
            }
          ]
        },
        "options": {}
      },
      "id": "b3c44e6a-e900-4233-9a2b-68d1351fbd1c",
      "name": "Switch: endpoint1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1680,
        3760
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Config1').item.json.baseUrl }}/health",
        "options": {
          "timeout": 30000
        }
      },
      "id": "c723e291-84dc-41c8-93aa-d352d63aa0f0",
      "name": "00 Health1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        2192
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/auth/qr",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_name\": \"{{ $('Config1').item.json.newSessionName }}\"\n}",
        "options": {}
      },
      "id": "5195ffb2-e3a7-4509-bdac-abf19c5bd6e4",
      "name": "01 QR: создать сессию1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        2336
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/auth/qr/{{ $('Config1').item.json.qrSessionId }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3e5f23d-5fc5-4e1d-92eb-4add6aca8d95",
      "name": "02 QR: статус1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        2480
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/auth/qr/{{ $('Config1').item.json.qrSessionId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2fdee56a-ad2d-454e-a070-d8e32230b1d6",
      "name": "03 QR: удалить1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        2624
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/discover",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_name\": \"{{ $('Config1').item.json.sessionName }}\",\n  \"query\": \"{{ $('Config1').item.json.query }}\",\n  \"first_pass_limit\": 5,\n  \"similarity_depth\": 1,\n  \"include_global_search\": true,\n  \"include_groups\": false\n}",
        "options": {}
      },
      "id": "0542cef5-391f-438e-a23b-11984811e6cd",
      "name": "04 Discover каналы1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        2768
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/discover-groups",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_name\": \"{{ $('Config1').item.json.sessionName }}\",\n  \"word\": \"{{ $('Config1').item.json.query }}\",\n  \"limit\": 20,\n  \"depth\": 2\n}",
        "options": {}
      },
      "id": "2411d4f9-3013-41f7-b37e-0735b8e9670b",
      "name": "05 Discover группы1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        2896
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/add-channel-by-link",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_name\": \"{{ $('Config1').item.json.sessionName }}\",\n  \"link\": \"{{ $('Config1').item.json.link }}\"\n}",
        "options": {}
      },
      "id": "75b1a1fd-9d36-47f8-bfa9-1640859bf8ba",
      "name": "06 Канал по ссылке1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        3024
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/add-channel-by-link-session-file",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_file\": \"{{ $('Config1').item.json.sessionName }}\",\n  \"link\": \"{{ $('Config1').item.json.link }}\"\n}",
        "options": {}
      },
      "id": "243941ce-7f9e-4050-8a94-422096b2fc40",
      "name": "07 Канал по ссылке (session file)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        3152
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/bot/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $('Config1').item.json.chatId }},\n  \"text\": \"{{ $('Config1').item.json.messageText }}\"\n}",
        "options": {}
      },
      "id": "0ab48d25-0d10-4c7a-8c0e-a55ba545c80a",
      "name": "08 Бот: отправить сообщение1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        3296
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_name_list\": {{ JSON.stringify($('Config1').item.json.sessionList.split(',').map(s => s.trim())) }},\n  \"clump_name\": \"n8n-test\",\n  \"channel_list\": {{ JSON.stringify($('Config1').item.json.channels.split(',').map(s => s.trim())) }},\n  \"webhook_url\": \"{{ $('Config1').item.json.webhookUrl }}\"\n}",
        "options": {}
      },
      "id": "dfc31c96-3a3e-4c2e-8729-c28b2e82df85",
      "name": "09 Parser: start1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        3440
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/list",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "58dbc6e4-6228-497f-8345-4cdeec5dfd0c",
      "name": "10 Parser: list1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        3568
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/status/{{ $('Config1').item.json.parserId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "662914eb-55b6-4c4f-9798-015e7b8cddbc",
      "name": "11 Parser: status1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        3696
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/stop/{{ $('Config1').item.json.parserId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cceb3382-2ac5-4213-aed1-a351cdb9aeff",
      "name": "12 Parser: stop1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        3824
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/{{ $('Config1').item.json.parserId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "60dbbd9a-9c01-4eea-b510-afa3059aebc7",
      "name": "13 Parser: delete1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        3952
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/{{ $('Config1').item.json.parserId }}/channels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c6e15ebc-a990-44ef-a169-d54d5f1eac8d",
      "name": "14 Channels: list1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        4080
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/{{ $('Config1').item.json.parserId }}/add-channels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel_list\": {{ JSON.stringify($('Config1').item.json.channels.split(',').map(s => s.trim())) }}\n}",
        "options": {}
      },
      "id": "f746740f-b0a0-4d29-92d7-0012b99a8d09",
      "name": "15 Channels: add (очередь async)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        4208
      ],
      "continueOnFail": true,
      "notes": "POST add-channels без query — ставит задачу в action queue, в ответе action_id."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/{{ $('Config1').item.json.parserId }}/remove-channels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel_list\": {{ JSON.stringify($('Config1').item.json.channels.split(',').map(s => s.trim())) }}\n}",
        "options": {}
      },
      "id": "ea61f3b9-a624-4c59-bf50-aed67841dc38",
      "name": "16 Channels: remove1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        4368
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/{{ $('Config1').item.json.parserId }}/config",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "39dd8367-f00a-4ec4-8ecb-659e0c205b8f",
      "name": "17 Config: get1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        4512
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/{{ $('Config1').item.json.parserId }}/config",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"max_channels_per_session\": 300,\n  \"max_reconnects\": 5,\n  \"flood_migrate_threshold_seconds\": 3600,\n  \"resolve_min_interval\": 1.5,\n  \"auto_migrate\": true,\n  \"add_channels_per_hour\": 0,\n  \"rebalance_enabled\": false,\n  \"rebalance_idle_start_hour\": 2,\n  \"rebalance_idle_end_hour\": 6,\n  \"rebalance_high_watermark_ratio\": 0.9,\n  \"rebalance_low_watermark_ratio\": 0.6,\n  \"rebalance_min_gap_channels\": 20,\n  \"rebalance_max_moves_per_tick\": 5,\n  \"rebalance_cooldown_hours\": 24\n}",
        "options": {}
      },
      "id": "2009116b-48c4-40db-9300-5d0362bd39aa",
      "name": "18 Config: patch1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        4640
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/{{ $('Config1').item.json.parserId }}/add-session",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_name\": \"{{ $('Config1').item.json.newSessionName }}\"\n}",
        "options": {}
      },
      "id": "d09ee6c7-20a5-433d-bde8-8d28f0a017fd",
      "name": "19 Session: add в clump1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        4800
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/{{ $('Config1').item.json.parserId }}/remove-session",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_name\": \"{{ $('Config1').item.json.newSessionName }}\"\n}",
        "options": {}
      },
      "id": "2488bbea-fe76-4607-93eb-7b7764f95866",
      "name": "20 Session: remove из clump1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        4944
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/accounts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c8c713f7-907f-42fa-993c-40608e7a741b",
      "name": "21 Accounts: в clump1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        5088
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/account-detail?session_name={{ encodeURIComponent($('Config1').item.json.sessionName) }}{{ $('Config1').item.json.parserId ? '&parser_id=' + encodeURIComponent($('Config1').item.json.parserId) : '' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f8e57bca-a3e4-4766-9052-0894602af11e",
      "name": "22 Account: карточка1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        5216
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/account-channels?session_name={{ encodeURIComponent($('Config1').item.json.sessionName) }}{{ $('Config1').item.json.parserId ? '&parser_id=' + encodeURIComponent($('Config1').item.json.parserId) : '' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1ce9388a-98f4-455c-9360-6be1bc7d8549",
      "name": "23 Account: каналы1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        5344
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/account-meta",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parser_id\": \"{{ $('Config1').item.json.parserId }}\",\n  \"session_name\": \"{{ $('Config1').item.json.sessionName }}\",\n  \"display_name\": \"{{ $('Config1').item.json.displayName }}\",\n  \"description\": \"{{ $('Config1').item.json.description }}\",\n  \"max_channels\": {{ $('Config1').item.json.maxChannels }}\n}",
        "options": {}
      },
      "id": "d5bed21f-c502-421b-b214-7933c903ea3e",
      "name": "24 Account: изменить meta1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        5472
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/settings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "aaeecded-00f4-4b12-99a3-9808a64bbdc1",
      "name": "25 Settings (глобальные)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        5616
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/{{ $('Config1').item.json.parserId }}/add-channels?async=0",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel_list\": {{ JSON.stringify($('Config1').item.json.channels.split(',').map(s => s.trim())) }}\n}",
        "options": {}
      },
      "id": "ee51f493-f4ac-4811-b8e5-24e656836b66",
      "name": "26 Channels: add sync1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        5760
      ],
      "continueOnFail": true,
      "notes": "Синхронное добавление каналов (?async=0), без очереди."
    },
    {
      "parameters": {
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/accounts/all",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "97e7f67e-a387-4e07-97c1-3970a0fc30fe",
      "name": "27 Accounts: все (.session)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        5888
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/accounts/{{ encodeURIComponent($('Config1').item.json.sessionName) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"display_name\": \"{{ $('Config1').item.json.displayName }}\",\n  \"description\": \"{{ $('Config1').item.json.description }}\",\n  \"max_channels\": {{ $('Config1').item.json.maxChannels }}\n}",
        "options": {}
      },
      "id": "7d8fc4a3-8447-4099-85c1-12ef6f59aa4e",
      "name": "28 Account: PATCH лимиты1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        6032
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/accounts/{{ encodeURIComponent($('Config1').item.json.sessionName) }}/block",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"blocked\": {{ $('Config1').item.json.adminBlocked === 'true' || $('Config1').item.json.adminBlocked === true }},\n  \"reason\": \"{{ $('Config1').item.json.blockReason }}\"\n}",
        "options": {}
      },
      "id": "b79dced7-fc53-43d6-912c-78ab934fc10c",
      "name": "29 Account: block/unblock1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        6176
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/accounts/{{ encodeURIComponent($('Config1').item.json.sessionName) }}?migrate={{ $('Config1').item.json.migrateOnDelete === 'true' || $('Config1').item.json.migrateOnDelete === true }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9be67149-24f7-45c8-a03c-f11a24b837bb",
      "name": "30 Account: DELETE1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        6336
      ],
      "continueOnFail": true,
      "notes": "Удаляет .session и запись в store; migrate=true переносит каналы из clump."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/{{ $('Config1').item.json.parserId }}/enroll-session",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_name\": \"{{ $('Config1').item.json.newSessionName }}\"\n}",
        "options": {}
      },
      "id": "5f5e0d33-743e-4f69-8a1f-e3bf63ed938b",
      "name": "31 Enroll: в clump после QR1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        6480
      ],
      "continueOnFail": true,
      "notes": "После успешного QR (qr_status) — подключить аккаунт к parserId."
    },
    {
      "parameters": {
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/actions{{ $('Config1').item.json.parserId ? '?parser_id=' + encodeURIComponent($('Config1').item.json.parserId) : '' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9281fbe8-f5db-4cef-be8b-b9887161cccd",
      "name": "32 Actions: список очереди1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        6640
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/parser/actions/{{ $('Config1').item.json.actionId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "076e6363-5ea3-4624-92c6-72e1b636231a",
      "name": "33 Action: статус задачи1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        6800
      ],
      "continueOnFail": true,
      "notes": "actionId из ответа add_channels (очередь) или из списка actions_list."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a00000000",
              "name": "endpoint",
              "value": "accounts_all",
              "type": "string"
            },
            {
              "id": "a00000001",
              "name": "baseUrl",
              "value": "https://vps-108.web.oboyma.ai",
              "type": "string"
            },
            {
              "id": "a00000002",
              "name": "apiKey",
              "value": "=vfLTbTq3+wR9GI95rFXhNB8nx0rYmqUxZ6LpA2DtKn0=",
              "type": "string"
            },
            {
              "id": "a00000003",
              "name": "sessionName",
              "value": "Client1",
              "type": "string"
            },
            {
              "id": "a00000004",
              "name": "newSessionName",
              "value": "Client3",
              "type": "string"
            },
            {
              "id": "a00000005",
              "name": "sessionList",
              "value": "Client1,Client2",
              "type": "string"
            },
            {
              "id": "a00000006",
              "name": "channels",
              "value": "@telegram,@durov",
              "type": "string"
            },
            {
              "id": "a00000007",
              "name": "webhookUrl",
              "value": "https://webhook.site/ЗАМЕНИ-НА-СВОЙ-UUID",
              "type": "string"
            },
            {
              "id": "a00000008",
              "name": "parserId",
              "value": "",
              "type": "string"
            },
            {
              "id": "a00000009",
              "name": "qrSessionId",
              "value": "",
              "type": "string"
            },
            {
              "id": "a00000010",
              "name": "query",
              "value": "крипта инвестиции",
              "type": "string"
            },
            {
              "id": "a00000011",
              "name": "link",
              "value": "https://t.me/durov",
              "type": "string"
            },
            {
              "id": "a00000012",
              "name": "displayName",
              "value": "Основной аккаунт",
              "type": "string"
            },
            {
              "id": "a00000013",
              "name": "description",
              "value": "тестовое описание",
              "type": "string"
            },
            {
              "id": "a00000014",
              "name": "chatId",
              "value": 123456789,
              "type": "number"
            },
            {
              "id": "a00000015",
              "name": "messageText",
              "value": "Привет из n8n",
              "type": "string"
            },
            {
              "id": "a00000016",
              "name": "maxChannels",
              "value": 300,
              "type": "number"
            },
            {
              "id": "a00000017",
              "name": "adminBlocked",
              "value": "true",
              "type": "string"
            },
            {
              "id": "a00000018",
              "name": "blockReason",
              "value": "ручная блокировка",
              "type": "string"
            },
            {
              "id": "a00000019",
              "name": "actionId",
              "value": "",
              "type": "string"
            },
            {
              "id": "a00000020",
              "name": "migrateOnDelete",
              "value": "true",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a756466a-0fc1-4f24-ad12-ac10afa0576d",
      "name": "Config1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        4272
      ],
      "notes": "Сервер: vps-108.web.oboyma.ai (HTTPS через nginx:80 → Docker :8100). baseUrl без :8100. apiKey: переменная окружения n8n LIDOGEN_DISCOVERY_API_KEY (= API_KEY из ~/standalone_discovery/.env на vps-108). health без ключа; остальные /discovery-api/* — X-API-Key. endpoint = ветка Switch."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/auth/qr",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_name\": \"{{ $('Config1').item.json.newSessionName }}\"\n}",
        "options": {}
      },
      "id": "99769936-ab75-44a0-9361-f7b4f60086c9",
      "name": "01 QR: создать сессию",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        2176
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $('Config1').item.json.baseUrl }}/discovery-api/auth/qr/{{ $('Config1').item.json.qrSessionId }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Config1').item.json.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a0ec85c0-aa9d-4f56-8eb4-49a5f7a5e051",
      "name": "02 QR: статус",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        2176
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2528,
        2176
      ],
      "id": "60e30a5a-8cb7-45bb-884e-36c8d9bfad0e",
      "name": "Wait",
      "webhookId": "d8ee2e21-9d09-40ba-b17a-cad3f2667065"
    }
  ],
  "connections": {
    "Старт вручную": {
      "main": [
        [
          {
            "node": "Config1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: endpoint1": {
      "main": [
        [
          {
            "node": "00 Health1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "01 QR: создать сессию1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "02 QR: статус1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "03 QR: удалить1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04 Discover каналы1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "05 Discover группы1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "06 Канал по ссылке1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "07 Канал по ссылке (session file)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "08 Бот: отправить сообщение1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "09 Parser: start1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "10 Parser: list1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "11 Parser: status1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "12 Parser: stop1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "13 Parser: delete1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "14 Channels: list1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "15 Channels: add (очередь async)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "16 Channels: remove1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "17 Config: get1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "18 Config: patch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "19 Session: add в clump1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "20 Session: remove из clump1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "21 Accounts: в clump1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "22 Account: карточка1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "23 Account: каналы1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "24 Account: изменить meta1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "26 Channels: add sync1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "27 Accounts: все (.session)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "28 Account: PATCH лимиты1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "29 Account: block/unblock1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "30 Account: DELETE1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "31 Enroll: в clump после QR1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "32 Actions: список очереди1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "33 Action: статус задачи1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "25 Settings (глобальные)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config1": {
      "main": [
        [
          {
            "node": "Switch: endpoint1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "01 QR: создать сессию": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "02 QR: статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "meta": null
}
