n8n/monitor-payments-expirations-DBRjzEwv28nB.json
{
  "name": "Monitor payments expirations",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -288,
        16
      ],
      "id": "49c224e8-6a8a-4d28-812f-073c5db9ec7f",
      "name": "Каждый день в 8 утра"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        144,
        16
      ],
      "id": "d6d405bc-6f15-4677-a189-204c9a17f21b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  n.id                          AS notif_id,\n  n.type                        AS notif_type,\n  n.title,\n  n.body,\n  n.metadata,\n  n.is_read,\n  n.created_at                  AS notif_created_at,\n\n  p.id                          AS project_id,\n  p.name                        AS project_name,\n\n  ps.id                         AS subscription_id,\n  ps.status                     AS sub_status,\n  ps.ends_at                    AS sub_ends_at,\n  ps.auto_renew,\n  ps.plan_name_snapshot         AS plan_name,\n  ps.price_amount_snapshot      AS plan_price,\n\n  w.balance                     AS wallet_balance,\n  w.saved_card_pan              AS card_pan,\n  w.tinkoff_rebill_id IS NOT NULL AS has_card\n\nFROM in_app_notifications n\nJOIN monitoring_projects p  ON p.id  = n.project_id\nLEFT JOIN project_subscriptions ps\n       ON ps.id = n.entity_id\n      AND n.entity_type = 'project_subscription'\nLEFT JOIN user_wallets w    ON w.user_id = p.owner_user_id\n\nWHERE n.type IN (\n  'balance_topup_reminder',\n  'subscription_expiring',\n  'subscription_renewed',\n  'billing_paid',\n  'billing_failed'\n) AND n.is_read = FALSE\nORDER BY n.created_at DESC\nLIMIT 100;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        16
      ],
      "id": "b303f3b3-ccda-42e7-8ad4-0215ba97b9cc",
      "name": "Получаем непрочитанные уведомления",
      "credentials": {
        "postgres": {
          "id": "MT0DVs8fV57WNl5G",
          "name": "Доступ_к_ядру"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "monitoring_projects",
          "mode": "list",
          "cachedResultName": "monitoring_projects"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.project_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        32
      ],
      "id": "df550d1b-c3fd-4b48-a71a-a0a722cf45be",
      "name": "Данные проекта",
      "credentials": {
        "postgres": {
          "id": "oDhlznSq4rKFi3EP",
          "name": "База_ядра"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "user_contact_channels",
          "mode": "list",
          "cachedResultName": "user_contact_channels"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $json.owner_user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        32
      ],
      "id": "561de579-0b27-4954-86ac-58b907cd39bc",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "oDhlznSq4rKFi3EP",
          "name": "База_ядра"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SPLuTKW6ju4Urz5J",
          "mode": "list",
          "cachedResultUrl": "/workflow/SPLuTKW6ju4Urz5J",
          "cachedResultName": "отправка уведомления (новый prod API)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{$json}}"
          },
          "matchingColumns": [
            "data"
          ],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1264,
        32
      ],
      "id": "bcb739b5-e311-421a-9454-8780039cd60d",
      "name": "Call 'My workflow 8'"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        832,
        32
      ],
      "id": "a6b064d7-0ba7-4621-a38a-93987d33cbf6",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3fa359d7-655c-4e2b-8574-5748065c6d54",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "array"
            },
            {
              "id": "1d10afa5-a797-4b7c-8930-9b4849590457",
              "name": "notif_type",
              "value": "={{ $('Loop Over Items').item.json.notif_type }}",
              "type": "string"
            },
            {
              "id": "5d8793c6-e1af-4165-9d0d-b1b858298b9e",
              "name": "title",
              "value": "={{ $('Loop Over Items').item.json.title }}",
              "type": "string"
            },
            {
              "id": "ca05f206-26c9-4b83-8286-c296bd60e396",
              "name": "body",
              "value": "={{ $('Loop Over Items').item.json.body }}",
              "type": "string"
            },
            {
              "id": "6e0dba84-2281-4e03-9dda-78ab263d3450",
              "name": "notif_id",
              "value": "={{ $('Loop Over Items').item.json.notif_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        32
      ],
      "id": "de3b4057-99db-46a9-a432-2d27c010622d",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Каждый день в 8 утра": {
      "main": [
        [
          {
            "node": "Получаем непрочитанные уведомления",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Данные проекта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем непрочитанные уведомления": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные проекта": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'My workflow 8'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'My workflow 8'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Каждый день в 8 утра": {
      "recurrenceRules": []
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
