n8n/runseedgeneration-ejj4SsLhqLbG.json
{
  "name": "RunSeedGeneration",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=<context>\n  <business_niche>\n    {{ $json.Buisness_desc }}\n  </business_niche>\n</context>\n\n<instruction>\n  Приступай к выполнению задачи. \n  1. Активируй блок <thinking> согласно алгоритму (Аватар -> Среда -> Анти-коллега -> Синтаксис -> Кластеры).\n  2. Сгенерируй финальный список из 100 сидов в блоке <results>.\n  \n  Важно: Убедись, что сиды подходят для парсинга как в поисковой строке Telegram (Global Search), так и для поиска сообществ ВКонтакте.\n</instruction>",
        "options": {
          "systemMessage": "=<system_prompt>\n  <role>\n    Ты — Senior Targetologist, эксперт по парсингу аудитории и growth-маркетолог. Твоя специализация: поиск неочевидных скоплений целевой аудитории (ЦА) в Telegram (чаты, каналы) и ВКонтакте (группы, паблики).\n  </role>\n\n  <task>\n    Твоя цель — получить на вход <business_niche> и сгенерировать ровно 100 высокоэффективных поисковых запросов (сидов) для поиска сообществ с потенциальными клиентами (B2C или B2B в зависимости от ниши). Это должны быть типичные запросы клиента соержащие 1 слово. \n  </task>\n\n  <critical_rules>\n    <rule>ЗАПРЕЩЕНО искать конкурентов. Ищи только места, где у клиентов возникает проблема, которую решает бизнес.</rule>\n    <rule>ОБЯЗАТЕЛЬНО использование тегов <thinking>...</thinking> перед выдачей ответа для пошагового анализа.</rule>\n    <rule>Сиды должны быть короткими 1 слово, так как внутренние поисковики ВК и ТГ плохо ищут по длинным фразам.</rule>\n  </critical_rules>\n\n  <thought_process>\n    Ты обязан заполнить блок <thinking> строго по следующим шагам:\n    1. [Аватар]: Опиши идеального клиента. Его пол, возраст, соц. статус, главная боль и срочная потребность прямо сейчас.\n    2. [Среда обитания]: Где он проводит время онлайн? В каких локальных, хобби или проблемных сообществах он состоит?\n    3. [Анти-коллега]: Какие запросы приведут в чаты специалистов этой ниши? Составь список слов-исключений (например, \"клуб специалистов\", \"обучение\").\n    4. [Синтаксис платформ]: \n       - Для TG: продумай приставки (Чат, Форум, Болталка, Отзывы).\n       - Для VK: продумай приставки (Подслушано, Барахолка, Мамочки, Помощь).\n    5. [Кластеризация]: Раздели 100 сидов на 4-5 логических категорий (например: Прямой интерес, Косвенный интерес, Боль/Проблема, Гео-специфика, Около-тематика).\n  </thought_process>\n\n<output_format>\n    <results>\n        <seed>фраза 1</seed>\n        <seed>фраза 2</seed>\n      </category>\n      <!-- Повторять для всех категорий, пока не наберется 100 сидов -->\n    </results>\n  </output_format>\n</system_prompt>\n\n<user_input>\n  <business_niche>{{ $json.Buisness_desc }}</business_niche>\n</user_input>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -64,
        -32
      ],
      "id": "f958c730-bd68-4d9f-a449-8c2e6262d47c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Buisness_desc"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -288,
        -32
      ],
      "id": "22f9d78b-215a-4433-8a5d-b0d2b6cbef4f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -64,
        176
      ],
      "id": "98608826-d1b1-463b-9cdb-2119ac39ea74",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "hwaDdGPn5HFuYp7N",
          "name": "Лидоген ВК"
        }
      }
    },
    {
      "parameters": {
        "description": "Use the tool to think about something. It will not obtain new information or change the database, but just append the thought to the log. Use it when complex reasoning or some cache memory is needed.\n\nВсегда используй этот инструмент перед генерацией сид-фраз \nОбязательно подумай перед ответом"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        80,
        192
      ],
      "id": "c2e252f3-be02-4345-beb2-32ca580f387b",
      "name": "Think"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ejj4SsLhqLbGHUSN",
          "mode": "list",
          "cachedResultUrl": "/workflow/ejj4SsLhqLbGHUSN",
          "cachedResultName": "RunSeedGeneration"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Buisness_desc": "Банкротство физлиц"
          },
          "matchingColumns": [
            "Buisness_desc"
          ],
          "schema": [
            {
              "id": "Buisness_desc",
              "displayName": "Buisness_desc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -192,
        -288
      ],
      "id": "8c01e30a-5e24-4147-9e59-cc07ac4f39e0",
      "name": "Call 'RunSeedGeneration'"
    },
    {
      "parameters": {
        "jsCode": "// Получаем текст из предыдущего узла. \n// Замените 'text' на название поля, в котором лежит ответ нейросети\nconst aiResponse = items[0].json.output || \"\"; \n\n// Регулярное выражение для поиска содержимого внутри тегов <seed>\n// Флаг 'g' - искать все совпадения, 's' - учитывать переносы строк\nconst seedRegex = /<seed>(.*?)<\\/seed>/gs;\n\nlet seeds = [];\nlet match;\n\n// Ищем все совпадения в цикле\nwhile ((match = seedRegex.exec(aiResponse)) !== null) {\n    // Чистим результат от лишних пробелов и добавляем в массив\n    const cleanSeed = match[1].trim();\n    if (cleanSeed) {\n        seeds.push({ seed: cleanSeed });\n    }\n}\n\n// Если нужно просто вернуть массив строк для сохранения в файл, раскомментируйте нижнюю строку:\n// return [{ json: { all_seeds: seeds.map(s => s.seed).join('\\n') } }];\n\n// Возвращаем результат в формате n8n (один сид = один элемент)\nreturn seeds.map(s => ({ json: s }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        -32
      ],
      "id": "b8603f5f-0bc6-4d01-b97b-7af6fb5712d0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM source_channels WHERE platform_id = 2",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        -240
      ],
      "id": "e8804567-1a45-4dc1-9e63-54711234af52",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "oDhlznSq4rKFi3EP",
          "name": "База_ядра"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
