n8n/дописать-в-таблицу-найденные-группы-B7N6Q2kwnPz5.json
{
  "name": "Дописать в таблицу найденные группы",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Groups",
              "type": "array"
            },
            {
              "name": "Client_id",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -272,
        0
      ],
      "id": "ad686b03-b639-40b5-9e73-aa33f08dc590",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "53434d24-4451-47e1-a8e2-493384b6d356",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "z9maAvjRPMd4O3ik",
          "mode": "list",
          "cachedResultName": "Группы клиента",
          "cachedResultUrl": "/projects/IyBpQnHyeNAIQCPe/datatables/z9maAvjRPMd4O3ik"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Active": false,
            "Group": "={{ $json.group_id }}",
            "Client_id": "={{ $('When Executed by Another Workflow').item.json.Client_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Client_id",
              "displayName": "Client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Group",
              "displayName": "Group",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Active",
              "displayName": "Active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        448,
        16
      ],
      "id": "2a7fb13f-88ca-47ad-bf84-7f80ba935969",
      "name": "Insert row"
    },
    {
      "parameters": {
        "jsCode": "const root = $input.first().json;\nconst block = Array.isArray(root) ? root[0] : root;\nconst ids = block.Groups ?? [];\n\nreturn ids.map((id) => ({\n  json: {\n    group_id: id,\n  },\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        0
      ],
      "id": "50732181-c532-42c7-b983-accad70cd841",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "\n  {\n    \"Groups\": [\n      65947511,\n      229853471,\n      77598642,\n      23702661,\n      168525831,\n      183307367,\n      231827575,\n      63030,\n      190157237,\n      226189695,\n      70747474,\n      122365995,\n      105182466,\n      213255400,\n      160604971,\n      221700848,\n      152197052,\n      209731703,\n      225097278,\n      235371263,\n      207588073,\n      342016,\n      222599804,\n      232137753,\n      227945687,\n      204836415,\n      185464121,\n      234604212,\n      229355441,\n      208630629,\n      230583471,\n      230053435,\n      215517869,\n      173057594,\n      31791751,\n      213365873,\n      73472145,\n      224566091,\n      212239212,\n      210760286\n    ]\n  }\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        208
      ],
      "id": "5cd7ce11-19fe-4366-90bd-a9fa39f42c4b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "z9maAvjRPMd4O3ik",
          "mode": "list",
          "cachedResultName": "Группы клиента",
          "cachedResultUrl": "/projects/IyBpQnHyeNAIQCPe/datatables/z9maAvjRPMd4O3ik"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "Client_id",
              "keyValue": "2"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        80,
        -176
      ],
      "id": "1a16f524-a908-40ea-a852-41c8c655330a",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "jsCode": "// Получаем все входные элементы\nconst items = $input.all();\n\n// Создаем массив со значениями Group как отрицательные числа\nconst groupsArray = items.map(item => {\n  return item.json.Group ? -Number(item.json.Group) : 0;\n});\n\n// Возвращаем один элемент, содержащий итоговый массив\nreturn [\n  {\n    json: {\n      groups: groupsArray\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -176
      ],
      "id": "58647acc-2eb4-4426-bf73-59454ee41017",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Group"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        496,
        -176
      ],
      "id": "1ddd00d4-b785-47fc-8e0b-bef25c288df9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "url": "https://api.vk.com/method/groups.getById",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "v",
              "value": "5.199"
            },
            {
              "name": "fields",
              "value": "screen_name"
            },
            {
              "name": "group_ids",
              "value": "vk,dayvinchik,exclusive_muzic,kinohd,kino_kaif,kinomania,smeyaka,kino_mania,mudakoff,evilo,paper,motor,poems"
            },
            {
              "name": "access_token",
              "value": "vk1.a.sqMCIjyTUej8NH5M6HqwXBGmBaKeSt7_Xr5JDShpUAZ5yR4wE1AVPAHbi-5dCk3Zvo_3J5E1sOAvREvYaZJ4EyAaLiGrlzu9SWYxrKcOA46Pic2DxNljE6cu6PN41v9OCM5uk5bKbgBS81Nq6extwiXlT9mxzPm16PLV7HMS1wNGkzz5jDsnkydCCiiOXl0TF5s0ypFXFXF1iSavYGVSTA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -192,
        480
      ],
      "id": "36c215fe-019d-43b6-8299-afaaf69e6f53",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "response.groups[0].id",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        16,
        480
      ],
      "id": "5bc8bc2a-c7e0-4e8f-a229-853dad33dccf",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "B7N6Q2kwnPz5usNd",
          "mode": "list",
          "cachedResultUrl": "/workflow/B7N6Q2kwnPz5usNd",
          "cachedResultName": "Дописать в таблицу найденные группы"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Groups": "=[\"22822305\",\"91050183\",\"27895931\",\"113071474\",\"58170807\",\"43215063\",\"45441631\",\"22798006\",\"57846937\",\"29246653\",\"34607647\",\"159415165\",\"38683579\"]",
            "Client_id": 1
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Groups",
              "displayName": "Groups",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "Client_id",
              "displayName": "Client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -240,
        -208
      ],
      "id": "fbcae47b-78e3-4e24-9366-226b56efc9b7",
      "name": "Call 'Дописать в таблицу найденные группы'"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "meta": null
}
