n8n/запуск-обработки-сообщений-FfXByAZO1oF2.json
{
  "name": "Запуск обработки сообщений",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "a07e1087-9d9a-46d9-baf5-3a8c97408830",
      "name": "Каждую минуту"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "ddd48284-aa12-4ec7-865d-3fc411724a74",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aV0SMUfgejD9GeW7",
          "mode": "list",
          "cachedResultUrl": "/workflow/aV0SMUfgejD9GeW7",
          "cachedResultName": "Обработка Сообщений из source_messages"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "project_id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "project_id"
          ],
          "schema": [
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        656,
        16
      ],
      "id": "d8e99eec-5197-4f5c-aa75-e6c61c2cae0b",
      "name": "Call 'Обработка Сообщений из source_messages'"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM v_active_projects_within_limit;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        0
      ],
      "id": "9f6eb0dd-cc69-4259-9da3-d03d4ea44da4",
      "name": "Select rows from a table1",
      "credentials": {
        "postgres": {
          "id": "oDhlznSq4rKFi3EP",
          "name": "База_ядра"
        }
      }
    }
  ],
  "connections": {
    "Каждую минуту": {
      "main": [
        [
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Call 'Обработка Сообщений из source_messages'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Обработка Сообщений из source_messages'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Каждую минуту": {
      "recurrenceRules": []
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
