n8n/поиск-по-направлению-тг-2ObVjDauzM2Z.json
{
  "name": "Поиск по направлению ТГ",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ejj4SsLhqLbGHUSN",
          "mode": "list",
          "cachedResultUrl": "/workflow/ejj4SsLhqLbGHUSN",
          "cachedResultName": "RunSeedGeneration"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Buisness_desc": "={{ $json['Направление'] }}"
          },
          "matchingColumns": [
            "Buisness_desc"
          ],
          "schema": [
            {
              "id": "Buisness_desc",
              "displayName": "Buisness_desc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -400,
        144
      ],
      "id": "7cb67278-876b-4ebc-b7c8-a0f3149808d8",
      "name": "Call 'RunSeedGeneration'1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -144,
        144
      ],
      "id": "ba208354-9664-4201-a31a-cd0a95d94376",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a334749-62c9-4f54-94ef-def9a1669911",
              "name": "result",
              "value": "ok",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "6a4a54bc-d6a6-474f-bcb7-71db6c7f2e2a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "C3njXogWbSrxvcXR",
          "mode": "list",
          "cachedResultUrl": "/workflow/C3njXogWbSrxvcXR",
          "cachedResultName": "Телеграм поиск (новый prod API)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.seed }}",
            "first_pass_limit": 30,
            "similarity_depth": 2,
            "Account": "Lidochka_search"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "first_pass_limit",
              "displayName": "first_pass_limit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "similarity_depth",
              "displayName": "similarity_depth",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "Account",
              "displayName": "Account",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        112,
        160
      ],
      "id": "c2f5910c-05df-491e-a293-9115377b31e8",
      "name": "Call 'Телеграм поиск'",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Направление"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -608,
        144
      ],
      "id": "d5d5d08c-1e3b-4537-acf1-a9cffb25298d",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Call 'RunSeedGeneration'1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Телеграм поиск'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Телеграм поиск'": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Call 'RunSeedGeneration'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "meta": null
}
