n8n/поиск-по-промптам-тг-AFWu5Xq6sOoZ.json
{
  "name": "Поиск по промптам ТГ",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "74b28e50-e8a3-4940-890a-28ebc08ac998",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f765575-9ed4-4371-8af9-f3117b76f6e3",
              "name": "ads",
              "value": " [     \"Ищу дизайнера для лендинга, есть ТЗ\",     \"Нужен дизайнер карточек на ВБ / Озон\",     \"Кто оформит сайт красиво? Пишите в лс с портфолио\",     \"Ищу специалиста по тильде, 4 страницы, бюджет до 25к\",     \"Нужен UI/UX дизайнер на проект, есть макеты-референсы\",     \"Кто возьмётся за дизайн логотипа и фирстиля?\",     \"Ищу веб-дизайнера на постоянку, нагрузка 20+ часов в неделю\",     \"Нужна разработка айдентики и брендбука для нового бренда\",     \"Кто сделает дизайн презентации для инвесторов? Сроки горят\",     \"Ищу графдизайнера для оформления Telegram-канала\",     \"Нужен моушн-дизайнер, короткие ролики для рилс и шортс\",     \"Кому заказать дизайн упаковки для косметики?\",     \"Ищу дизайнера для оформления мобильного приложения\",     \"Подскажите дизайнеров, которые работают с e-comm / b2b\",     \"Нужен человек на дизайн креативов для таргета, постоянка\",     \"Сайт выглядит как из 2010, стыдно клиентам кидать\",     \"Конверсия с лендинга 0,3%, не понимаю что не так\",     \"Карточки на маркетплейсе не цепляют, продажи просели\",     \"Делаю всё в канве, понимаю что выглядит колхозно\",     \"У конкурентов сайты как из будущего, а у нас…\",     \"Сколько стоит обновить логотип? Старый совсем устарел\",     \"Запускаем новый продукт, нет ни упаковки, ни визуала\",     \"Инста ведём сами, выглядит каша, нет единого стиля\",     \"Презентация компании — это вордовский документ, ужас\",     \"Нет фирменного стиля, каждый сотрудник лепит как хочет\",     \"Хотим сделать ребрендинг, не знаем с чего начать\",     \"Заказали сайт у студии, в итоге выглядит хуже чем было\",     \"Нужно подготовить материалы для выставки, всё горит\",     \"Не получается донести идею продукта через визуал\",     \"Думаю про мерч для команды, но нет под рукой дизайнера\",     \"Ищу таргетолога с кейсами в нише инфобиза\",     \"Нужен SMM-специалист на ведение Telegram-канала\",     \"Кто настроит Яндекс.Директ под ключ?\",     \"Ищу маркетолога в команду, удалёнка, фикс + KPI\",     \"Нужен спец по контекстной рекламе для интернет-магазина\",     \"Кто запустит рекламу в VK Ads? Бюджет 50к на тест\",     \"Ищу SEO-специалиста для продвижения сайта по Москве\",     \"Нужен копирайтер для email-рассылок и прогревов\",     \"Кто настроит автоворонку в Salebot / GetCourse?\",     \"Ищу подрядчика по продвижению маркетплейса (ВБ, Озон)\",     \"Нужен человек на холодные звонки B2B\",     \"Кто построит отдел продаж с нуля?\",     \"Ищу инфлюенс-маркетолога, нужны блогеры под закупы\",     \"Нужен PR-менеджер для размещения в СМИ\",     \"Кто продвинет канал в Telegram до 5к подписчиков?\",     \"Слил 100к на таргет, заявок нет, что не так?\",     \"Заявки с сайта идут, но менеджеры не закрывают\",     \"Подписчики растут, продаж — ноль\",     \"Канал в Telegram висит на 800 подписчиков уже полгода\",     \"Не понимаю откуда вообще брать клиентов\",     \"Цена лида растёт каждый месяц, что делать\",     \"Конкуренты везде, а нас не видно ни в поиске, ни в соцсетях\",     \"Сделал рассылку — открываемость 4%, это нормально?\",     \"Сезон начался, а заявок меньше чем в прошлом году\",     \"Не знаю как продвигать новый продукт, аудитория узкая\",     \"У ребят такой же товар дешевле, как с ними конкурировать\",     \"Запустили рекламу сами, кабинет показывает охваты, продаж нет\",     \"Менеджеры не дожимают тёплые лиды, теряем деньги\",     \"Хочу выйти в Дубай / СНГ, не понимаю как там продвигаться\",     \"ROMI отрицательный второй квартал, нужно что-то менять\",     \"Ищу бизнес-консультанта по масштабированию\",     \"Нужен наставник по бизнесу с реальным опытом, не инфоцыган\",     \"Кто проведёт стратсессию для команды на 1-2 дня?\",     \"Ищу финансового консультанта, нужна юнит-экономика\",     \"Нужен трекер для роста выручки, опыт с услугами\",     \"Кто помогает с упаковкой бизнеса для продажи / инвестора?\",     \"Ищу эксперта по выходу на маркетплейсы\",     \"Нужен консультант по построению оргструктуры\",     \"Кто поможет с автоматизацией процессов в CRM?\",     \"Ищу HR-консультанта, проблемы с наймом и текучкой\",     \"Нужен ментор по запуску стартапа, ищем pre-seed\",     \"Кто составит бизнес-план под кредит / грант?\",     \"Ищу налогового консультанта для ИП и ООО на УСН\",     \"Нужен спец по выходу на рынок СНГ / ОАЭ\",     \"Кто проведёт аудит отдела продаж и процессов?\",     \"Бизнес встал, не понимаю куда двигаться\",     \"Выручка падает третий месяц подряд, причин не вижу\",     \"Хаос в процессах, всё держится только на мне\",     \"Сотрудники увольняются один за другим, не знаю что делаю не так\",     \"Уперся в потолок 1,5 млн в месяц, расти не получается\",     \"Думаю открыть второй филиал, но страшно, нет уверенности\",     \"Кассовый разрыв каждый месяц, прибыль вроде есть\",     \"Команда из 8 человек, никто не понимает зону ответственности\",     \"Не получается делегировать, всё равно всё на себя замыкаю\",     \"Конкуренты демпингуют, клиенты уходят к ним\",     \"Думаю продать бизнес, не знаю как оценить и куда податься\",     \"Партнёр хочет выйти из бизнеса, как разделить корректно?\",     \"Заработали много заявок, а ОП не справляется с обработкой\",     \"Прибыль вроде есть, но на руках денег не остаётся\",     \"Бизнесу 3 года, плато, всё на ручном управлении\"   ]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "1b787ad6-946d-42f8-a56a-a6dcd635c17f",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "ads",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        432,
        0
      ],
      "id": "60833529-52d9-4145-a8bd-fdd0ca69dc58",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        704,
        0
      ],
      "id": "200efabe-db0b-4ef0-8619-8a5fd5290474",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2ObVjDauzM2ZjWTd",
          "mode": "list",
          "cachedResultUrl": "/workflow/2ObVjDauzM2ZjWTd",
          "cachedResultName": "Поиск по направлению ТГ"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Направление": "={{ $json.ads }}"
          },
          "matchingColumns": [
            "Направление"
          ],
          "schema": [
            {
              "id": "Направление",
              "displayName": "Направление",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        960,
        16
      ],
      "id": "788857ac-7d4c-4603-98f2-e18a9e3fc4d3",
      "name": "Call 'Поиск по направлению ТГ'",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Call 'Поиск по направлению ТГ'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Поиск по направлению ТГ'": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "meta": null
}
