n8n/поиск-из-промптов-37rVWrJKd364.json
{
  "name": "Поиск из промптов",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "C3ZX5ZdFqhqHHYwQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/C3ZX5ZdFqhqHHYwQ",
          "cachedResultName": "Поиск по направлению"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Направление": "={{ $json.direction_description }} {{ $json.direction_name }}"
          },
          "matchingColumns": [
            "Направление"
          ],
          "schema": [
            {
              "id": "Направление",
              "displayName": "Направление",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        960,
        16
      ],
      "id": "8c24b5e6-ca01-427b-8fdf-191019d7be74",
      "name": "Call 'Поиск по направлению'",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e2f6fd1f-f1b0-41ce-91ec-4b163b8e903a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f765575-9ed4-4371-8af9-f3117b76f6e3",
              "name": "ads",
              "value": "[   {     \"direction_id\": 3,     \"direction_name\": \"Строительный бизнес (ремонтные компании, подрядчики)\",     \"direction_description\": \"Сезонность, нет регулярных продаж, текучка менеджеров\",     \"prompt_id\": 1,     \"prompt_name\": \"Консалтинг по построению отделов продаж\",     \"target_description\": \"Собственники, у которых хаос в продажах, низкая конверсия, нет системности\"   },   {     \"direction_id\": 4,     \"direction_name\": \"Онлайн-школы и инфобизнес\",     \"direction_description\": \"Хаотичный найм менеджеров по продажам, низкая конверсия в закрытые вебинары\",     \"prompt_id\": 1,     \"prompt_name\": \"Консалтинг по построению отделов продаж\",     \"target_description\": \"Собственники, у которых хаос в продажах, низкая конверсия, нет системности\"   },   {     \"direction_id\": 5,     \"direction_name\": \"Франчайзи и владельцы сетей\",     \"direction_description\": \"Нужно масштабировать продажи по единому стандарту, систематизировать РОП\",     \"prompt_id\": 1,     \"prompt_name\": \"Консалтинг по построению отделов продаж\",     \"target_description\": \"Собственники, у которых хаос в продажах, низкая конверсия, нет системности\"   },   {     \"direction_id\": 6,     \"direction_name\": \"Медицинские клиники и стоматологии\",     \"direction_description\": \"Слабый отдел продаж на входящих заявках, потеря лидов\",     \"prompt_id\": 1,     \"prompt_name\": \"Консалтинг по построению отделов продаж\",     \"target_description\": \"Собственники, у которых хаос в продажах, низкая конверсия, нет системности\"   },   {     \"direction_id\": 7,     \"direction_name\": \"Автосервисы и СТО, шиномонтажи\",     \"direction_description\": \"Нет системного подхода к продаже допуслуг, хаос в записи клиентов\",     \"prompt_id\": 1,     \"prompt_name\": \"Консалтинг по построению отделов продаж\",     \"target_description\": \"Собственники, у которых хаос в продажах, низкая конверсия, нет системности\"   },   {     \"direction_id\": 8,     \"direction_name\": \"Оптовые и дистрибьюторские компании\",     \"direction_description\": \"Нужна система продаж на B2B-рынок, работа с возражениями\",     \"prompt_id\": 1,     \"prompt_name\": \"Консалтинг по построению отделов продаж\",     \"target_description\": \"Собственники, у которых хаос в продажах, низкая конверсия, нет системности\"   },   {     \"direction_id\": 9,     \"direction_name\": \"HoReCa (рестораны, кафе, гостиницы)\",     \"direction_description\": \"Высокий поток заявок на банкеты, бронирования, но низкая конверсия\",     \"prompt_id\": 1,     \"prompt_name\": \"Консалтинг по построению отделов продаж\",     \"target_description\": \"Собственники, у которых хаос в продажах, низкая конверсия, нет системности\"   },   {     \"direction_id\": 10,     \"direction_name\": \"Агентства недвижимости и риелторы\",     \"direction_description\": \"Нет выстроенной воронки, много уходит холодных звонков без результата\",     \"prompt_id\": 1,     \"prompt_name\": \"Консалтинг по построению отделов продаж\",     \"target_description\": \"Собственники, у которых хаос в продажах, низкая конверсия, нет системности\"   },   {     \"direction_id\": 11,     \"direction_name\": \"Салонный бизнес (парикмахерские, салоны красоты, ногтевые студии)\",     \"direction_description\": \"Хаос в записи, отток клиентов, нет повторных продаж\",     \"prompt_id\": 1,     \"prompt_name\": \"Консалтинг по построению отделов продаж\",     \"target_description\": \"Собственники, у которых хаос в продажах, низкая конверсия, нет системности\"   },   {     \"direction_id\": 12,     \"direction_name\": \"Юридические и бухгалтерские компании\",     \"direction_description\": \"Продажи сложных услуг требуют системности, часто владельцы сами продают\",     \"prompt_id\": 1,     \"prompt_name\": \"Консалтинг по построению отделов продаж\",     \"target_description\": \"Собственники, у которых хаос в продажах, низкая конверсия, нет системности\"   },   {     \"direction_id\": 13,     \"direction_name\": \"Мебельный бизнес (производство и продажа мебели)\",     \"direction_description\": \"Слабая обработка заявок с сайта, нет скриптов\",     \"prompt_id\": 1,     \"prompt_name\": \"Консалтинг по построению отделов продаж\",     \"target_description\": \"Собственники, у которых хаос в продажах, низкая конверсия, нет системности\"   },   {     \"direction_id\": 14,     \"direction_name\": \"Сельское хозяйство и агропром\",     \"direction_description\": \"Низкая маржинальность, нужно наводить порядок в коммерческом отделе\",     \"prompt_id\": 1,     \"prompt_name\": \"Консалтинг по построению отделов продаж\",     \"target_description\": \"Собственники, у которых хаос в продажах, низкая конверсия, нет системности\"   },   {     \"direction_id\": 15,     \"direction_name\": \"Стартапы на стадии привлечения первых клиентов\",     \"direction_description\": \"Нет бюджета на штатного РОП, ищут эксперта по построению\",     \"prompt_id\": 1,     \"prompt_name\": \"Консалтинг по построению отделов продаж\",     \"target_description\": \"Собственники, у которых хаос в продажах, низкая конверсия, нет системности\"   },   {     \"direction_id\": 16,     \"direction_name\": \"Розничные сети (магазины, точки продаж)\",     \"direction_description\": \"Нужно увеличить конверсию с витрины до кассы, системность продаж\",     \"prompt_id\": 1,     \"prompt_name\": \"Консалтинг по построению отделов продаж\",     \"target_description\": \"Собственники, у которых хаос в продажах, низкая конверсия, нет системности\"   },   {     \"direction_id\": 17,     \"direction_name\": \"Логистические и транспортные компании\",     \"direction_description\": \"Хаос в управлении заявками, нет контроля за конверсией\",     \"prompt_id\": 1,     \"prompt_name\": \"Консалтинг по построению отделов продаж\",     \"target_description\": \"Собственники, у которых хаос в продажах, низкая конверсия, нет системности\"   },   {     \"direction_id\": 1,     \"direction_name\": \"Сфера образования и онлайн-курсы\",     \"direction_description\": \"Нужно автоматизировать запись, выдачу материалов, чат-боты для ответов\",     \"prompt_id\": 2,     \"prompt_name\": \"Автоматизация бизнеса (сайты, боты, ИИ, CRM)\",     \"target_description\": \"Бизнесы с большим количеством заявок, необходимостью интеграций, разгрузкой менеджеров\"   },   {     \"direction_id\": 2,     \"direction_name\": \"Медицинские центры и стоматологии\",     \"direction_description\": \"Боты для записи, напоминания, интеграция с CRM и оплатой\",     \"prompt_id\": 2,     \"prompt_name\": \"Автоматизация бизнеса (сайты, боты, ИИ, CRM)\",     \"target_description\": \"Бизнесы с большим количеством заявок, необходимостью интеграций, разгрузкой менеджеров\"   },   {     \"direction_id\": 3,     \"direction_name\": \"Финансовые услуги (МФО, страховые брокеры)\",     \"direction_description\": \"Автоворонки, скоринг, ИИ-квалификация лидов\",     \"prompt_id\": 2,     \"prompt_name\": \"Автоматизация бизнеса (сайты, боты, ИИ, CRM)\",     \"target_description\": \"Бизнесы с большим количеством заявок, необходимостью интеграций, разгрузкой менеджеров\"   },   {     \"direction_id\": 4,     \"direction_name\": \"Маркетинговые и рекламные агентства\",     \"direction_description\": \"Нужна автоматизация обработки заявок из разных каналов\",     \"prompt_id\": 2,     \"prompt_name\": \"Автоматизация бизнеса (сайты, боты, ИИ, CRM)\",     \"target_description\": \"Бизнесы с большим количеством заявок, необходимостью интеграций, разгрузкой менеджеров\"   },   {     \"direction_id\": 5,     \"direction_name\": \"Услуги по ремонту и клинингу\",     \"direction_description\": \"Боты для заявок, автоматические подтверждения, отчёты сотрудникам\",     \"prompt_id\": 2,     \"prompt_name\": \"Автоматизация бизнеса (сайты, боты, ИИ, CRM)\",     \"target_description\": \"Бизнесы с большим количеством заявок, необходимостью интеграций, разгрузкой менеджеров\"   },   {     \"direction_id\": 6,     \"direction_name\": \"Автосервисы и шиномонтажи\",     \"direction_description\": \"Запись через бота, напоминания о ТО, интеграция с учётом запчастей\",     \"prompt_id\": 2,     \"prompt_name\": \"Автоматизация бизнеса (сайты, боты, ИИ, CRM)\",     \"target_description\": \"Бизнесы с большим количеством заявок, необходимостью интеграций, разгрузкой менеджеров\"   },   {     \"direction_id\": 7,     \"direction_name\": \"Салонный бизнес\",     \"direction_description\": \"Боты для записи на услуги, отмена и перенос, автоматизация воронок в Instagram/TG\",     \"prompt_id\": 2,     \"prompt_name\": \"Автоматизация бизнеса (сайты, боты, ИИ, CRM)\",     \"target_description\": \"Бизнесы с большим количеством заявок, необходимостью интеграций, разгрузкой менеджеров\"   },   {     \"direction_id\": 8,     \"direction_name\": \"Продажа товаров через интернет-магазины\",     \"direction_description\": \"Автоворонки, боты для брошенных корзин, интеграция с CRM\",     \"prompt_id\": 2,     \"prompt_name\": \"Автоматизация бизнеса (сайты, боты, ИИ, CRM)\",     \"target_description\": \"Бизнесы с большим количеством заявок, необходимостью интеграций, разгрузкой менеджеров\"   },   {     \"direction_id\": 9,     \"direction_name\": \"Юридические компании\",     \"direction_description\": \"Автоматизация обработки первичных консультаций, ИИ-чат для ответов на частые вопросы\",     \"prompt_id\": 2,     \"prompt_name\": \"Автоматизация бизнеса (сайты, боты, ИИ, CRM)\",     \"target_description\": \"Бизнесы с большим количеством заявок, необходимостью интеграций, разгрузкой менеджеров\"   },   {     \"direction_id\": 10,     \"direction_name\": \"Туристические агентства\",     \"direction_description\": \"Боты-консультанты по подбору туров, интеграция с оплатой, автоматические рассылки\",     \"prompt_id\": 2,     \"prompt_name\": \"Автоматизация бизнеса (сайты, боты, ИИ, CRM)\",     \"target_description\": \"Бизнесы с большим количеством заявок, необходимостью интеграций, разгрузкой менеджеров\"   },   {     \"direction_id\": 11,     \"direction_name\": \"Общепит (рестораны, кафе, доставка)\",     \"direction_description\": \"Боты для приёма заказов, интеграция с кухней и курьерами\",     \"prompt_id\": 2,     \"prompt_name\": \"Автоматизация бизнеса (сайты, боты, ИИ, CRM)\",     \"target_description\": \"Бизнесы с большим количеством заявок, необходимостью интеграций, разгрузкой менеджеров\"   },   {     \"direction_id\": 12,     \"direction_name\": \"HR-агентства и кадровый консалтинг\",     \"direction_description\": \"Автоматизация обработки резюме, боты для первичного скрининга\",     \"prompt_id\": 2,     \"prompt_name\": \"Автоматизация бизнеса (сайты, боты, ИИ, CRM)\",     \"target_description\": \"Бизнесы с большим количеством заявок, необходимостью интеграций, разгрузкой менеджеров\"   },   {     \"direction_id\": 13,     \"direction_name\": \"Фитнес-клубы и студии йоги\",     \"direction_description\": \"Запись на тренировки, абонементы, бот-ассистент тренерам\",     \"prompt_id\": 2,     \"prompt_name\": \"Автоматизация бизнеса (сайты, боты, ИИ, CRM)\",     \"target_description\": \"Бизнесы с большим количеством заявок, необходимостью интеграций, разгрузкой менеджеров\"   },   {     \"direction_id\": 14,     \"direction_name\": \"Строительные компании (подрядчики, ремонт)\",     \"direction_description\": \"Бот для смет и заявок, CRM для прорабов и клиентов\",     \"prompt_id\": 2,     \"prompt_name\": \"Автоматизация бизнеса (сайты, боты, ИИ, CRM)\",     \"target_description\": \"Бизнесы с большим количеством заявок, необходимостью интеграций, разгрузкой менеджеров\"   },   {     \"direction_id\": 15,     \"direction_name\": \"Агентства недвижимости\",     \"direction_description\": \"Автоматизация показа, бот для подбора объектов, интеграция с базами данных\",     \"prompt_id\": 2,     \"prompt_name\": \"Автоматизация бизнеса (сайты, боты, ИИ, CRM)\",     \"target_description\": \"Бизнесы с большим количеством заявок, необходимостью интеграций, разгрузкой менеджеров\"   },   {     \"direction_id\": 16,     \"direction_name\": \"Службы доставки и курьерские сервисы\",     \"direction_description\": \"Боты для отслеживания заказов, автоматические уведомления, интеграция с картами\",     \"prompt_id\": 2,     \"prompt_name\": \"Автоматизация бизнеса (сайты, боты, ИИ, CRM)\",     \"target_description\": \"Бизнесы с большим количеством заявок, необходимостью интеграций, разгрузкой менеджеров\"   },   {     \"direction_id\": 17,     \"direction_name\": \"Мерчандайзинговые и промо-агентства\",     \"direction_description\": \"Автоматизация отчётов по постам, сбор данных с точек\",     \"prompt_id\": 2,     \"prompt_name\": \"Автоматизация бизнеса (сайты, боты, ИИ, CRM)\",     \"target_description\": \"Бизнесы с большим количеством заявок, необходимостью интеграций, разгрузкой менеджеров\"   },   {     \"direction_id\": 18,     \"direction_name\": \"Аптечный бизнес\",     \"direction_description\": \"Боты для бронирования товара, напоминания о приёме, интеграция с аптечным учётом\",     \"prompt_id\": 2,     \"prompt_name\": \"Автоматизация бизнеса (сайты, боты, ИИ, CRM)\",     \"target_description\": \"Бизнесы с большим количеством заявок, необходимостью интеграций, разгрузкой менеджеров\"   },   {     \"direction_id\": 1,     \"direction_name\": \"Самозанятые и микробизнес (мастера, репетиторы, тренеры)\",     \"direction_description\": \"Нужен сайт-визитка или лендинг для приёма заявок\",     \"prompt_id\": 3,     \"prompt_name\": \"Создание сайтов и лендингов под ключ\",     \"target_description\": \"Бизнесы, которым нужен сайт/лендинг от 15 000 ₽, часто впервые или срочно\"   },   {     \"direction_id\": 2,     \"direction_name\": \"Строительные и ремонтные компании\",     \"direction_description\": \"Сайт-портфолио + калькулятор сметы, лендинг под вид работ\",     \"prompt_id\": 3,     \"prompt_name\": \"Создание сайтов и лендингов под ключ\",     \"target_description\": \"Бизнесы, которым нужен сайт/лендинг от 15 000 ₽, часто впервые или срочно\"   },   {     \"direction_id\": 3,     \"direction_name\": \"Онлайн-школы и преподаватели\",     \"direction_description\": \"Лендинг для запуска курса, регистрация на вебинар, продажа программы\",     \"prompt_id\": 3,     \"prompt_name\": \"Создание сайтов и лендингов под ключ\",     \"target_description\": \"Бизнесы, которым нужен сайт/лендинг от 15 000 ₽, часто впервые или срочно\"   },   {     \"direction_id\": 4,     \"direction_name\": \"Медицинские клиники и отдельные врачи\",     \"direction_description\": \"Карточка клиники с записью онлайн, лендинг под услугу (например, УЗИ)\",     \"prompt_id\": 3,     \"prompt_name\": \"Создание сайтов и лендингов под ключ\",     \"target_description\": \"Бизнесы, которым нужен сайт/лендинг от 15 000 ₽, часто впервые или срочно\"   },   {     \"direction_id\": 5,     \"direction_name\": \"Фотографы, видеографы, дизайнеры\",     \"direction_description\": \"Портфолио-сайт, лендинг для съёмки свадеб/мероприятий\",     \"prompt_id\": 3,     \"prompt_name\": \"Создание сайтов и лендингов под ключ\",     \"target_description\": \"Бизнесы, которым нужен сайт/лендинг от 15 000 ₽, часто впервые или срочно\"   },   {     \"direction_id\": 6,     \"direction_name\": \"Агентства недвижимости и риелторы\",     \"direction_description\": \"Сайт с каталогом объектов и формой заявки, лендинг под ЖК\",     \"prompt_id\": 3,     \"prompt_name\": \"Создание сайтов и лендингов под ключ\",     \"target_description\": \"Бизнесы, которым нужен сайт/лендинг от 15 000 ₽, часто впервые или срочно\"   },   {     \"direction_id\": 7,     \"direction_name\": \"Юридические и бухгалтерские консультанты\",     \"direction_description\": \"Сайт с описанием услуг, онлайн-запись на консультацию\",     \"prompt_id\": 3,     \"prompt_name\": \"Создание сайтов и лендингов под ключ\",     \"target_description\": \"Бизнесы, которым нужен сайт/лендинг от 15 000 ₽, часто впервые или срочно\"   },   {     \"direction_id\": 8,     \"direction_name\": \"Автосервисы и автомастерские\",     \"direction_description\": \"Лендинг «Диагностика ходовой за 1000₽», визитка с прайсом\",     \"prompt_id\": 3,     \"prompt_name\": \"Создание сайтов и лендингов под ключ\",     \"target_description\": \"Бизнесы, которым нужен сайт/лендинг от 15 000 ₽, часто впервые или срочно\"   },   {     \"direction_id\": 9,     \"direction_name\": \"Салонный бизнес (парикмахерские, маникюр)\",     \"direction_description\": \"Лендинг под бьюти-услуги с прайсом, запись онлайн\",     \"prompt_id\": 3,     \"prompt_name\": \"Создание сайтов и лендингов под ключ\",     \"target_description\": \"Бизнесы, которым нужен сайт/лендинг от 15 000 ₽, часто впервые или срочно\"   },   {     \"direction_id\": 10,     \"direction_name\": \"Торговые компании (магазины без интернет-магазина)\",     \"direction_description\": \"Лендинг под акцию, каталог, контакты\",     \"prompt_id\": 3,     \"prompt_name\": \"Создание сайтов и лендингов под ключ\",     \"target_description\": \"Бизнесы, которым нужен сайт/лендинг от 15 000 ₽, часто впервые или срочно\"   },   {     \"direction_id\": 11,     \"direction_name\": \"Кафе, рестораны, доставка\",     \"direction_description\": \"Сайт-меню, лендинг под мероприятие (корпоратив, фуршет)\",     \"prompt_id\": 3,     \"prompt_name\": \"Создание сайтов и лендингов под ключ\",     \"target_description\": \"Бизнесы, которым нужен сайт/лендинг от 15 000 ₽, часто впервые или срочно\"   },   {     \"direction_id\": 12,     \"direction_name\": \"Стартапы и новые проекты\",     \"direction_description\": \"Лендинг для сбора заявок или предпродаж (Minimum Viable Product)\",     \"prompt_id\": 3,     \"prompt_name\": \"Создание сайтов и лендингов под ключ\",     \"target_description\": \"Бизнесы, которым нужен сайт/лендинг от 15 000 ₽, часто впервые или срочно\"   },   {     \"direction_id\": 13,     \"direction_name\": \"Религиозные, благотворительные, культурные учреждения\",     \"direction_description\": \"Сайт-визитка для информации и пожертвований\",     \"prompt_id\": 3,     \"prompt_name\": \"Создание сайтов и лендингов под ключ\",     \"target_description\": \"Бизнесы, которым нужен сайт/лендинг от 15 000 ₽, часто впервые или срочно\"   },   {     \"direction_id\": 14,     \"direction_name\": \"Спортивные клубы (фитнес, единоборства, бассейны)\",     \"direction_description\": \"Лендинг на набор в группу с записью на пробное занятие\",     \"prompt_id\": 3,     \"prompt_name\": \"Создание сайтов и лендингов под ключ\",     \"target_description\": \"Бизнесы, которым нужен сайт/лендинг от 15 000 ₽, часто впервые или срочно\"   },   {     \"direction_id\": 15,     \"direction_name\": \"Услуги по уборке и клинингу\",     \"direction_description\": \"Лендинг с прайсом, калькулятором и формой заявки\",     \"prompt_id\": 3,     \"prompt_name\": \"Создание сайтов и лендингов под ключ\",     \"target_description\": \"Бизнесы, которым нужен сайт/лендинг от 15 000 ₽, часто впервые или срочно\"   },   {     \"direction_id\": 16,     \"direction_name\": \"Химчистки и прачечные\",     \"direction_description\": \"Сайт с ценами, возможностью заказать выезд\",     \"prompt_id\": 3,     \"prompt_name\": \"Создание сайтов и лендингов под ключ\",     \"target_description\": \"Бизнесы, которым нужен сайт/лендинг от 15 000 ₽, часто впервые или срочно\"   },   {     \"direction_id\": 17,     \"direction_name\": \"Event-агентства и организаторы праздников\",     \"direction_description\": \"Сайт-портфолио, лендинг под конкретное мероприятие\",     \"prompt_id\": 3,     \"prompt_name\": \"Создание сайтов и лендингов под ключ\",     \"target_description\": \"Бизнесы, которым нужен сайт/лендинг от 15 000 ₽, часто впервые или срочно\"   },   {     \"direction_id\": 18,     \"direction_name\": \"Производители и поставщики товаров для бизнеса (B2B)\",     \"direction_description\": \"Лендинг под запрос «оптом от производителя» с формой заявки\",     \"prompt_id\": 3,     \"prompt_name\": \"Создание сайтов и лендингов под ключ\",     \"target_description\": \"Бизнесы, которым нужен сайт/лендинг от 15 000 ₽, часто впервые или срочно\"   },   {     \"direction_id\": 19,     \"direction_name\": \"Зооуслуги (передержка, груминг, выгул)\",     \"direction_description\": \"Лендинг с услугами, ценами и записью онлайн\",     \"prompt_id\": 3,     \"prompt_name\": \"Создание сайтов и лендингов под ключ\",     \"target_description\": \"Бизнесы, которым нужен сайт/лендинг от 15 000 ₽, часто впервые или срочно\"   },   {     \"direction_id\": 20,     \"direction_name\": \"Ремесленники (керамика, деревообработка, мастерские)\",     \"direction_description\": \"Визитка-каталог + лендинг под мастер-класс\",     \"prompt_id\": 3,     \"prompt_name\": \"Создание сайтов и лендингов под ключ\",     \"target_description\": \"Бизнесы, которым нужен сайт/лендинг от 15 000 ₽, часто впервые или срочно\"   } ]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "da05193c-9d02-47b1-9eb2-56141c58c998",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "ads",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        432,
        0
      ],
      "id": "2b84c736-a86f-4b29-b88e-ae3c56c0943d",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        704,
        0
      ],
      "id": "361abadb-2601-40c3-997a-4de87cf219b2",
      "name": "Loop Over Items2"
    }
  ],
  "connections": {
    "Call 'Поиск по направлению'": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Call 'Поиск по направлению'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "meta": null
}
