n8n/поиск-по-направлениям-общий-t3x1YhyaMXqA.json
{
  "name": "Поиск по направлениям общий",
  "nodes": [
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        704,
        0
      ],
      "id": "ea14e126-95ea-4fb6-b18b-d4c8396efef1",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2ObVjDauzM2ZjWTd",
          "mode": "list",
          "cachedResultUrl": "/workflow/2ObVjDauzM2ZjWTd",
          "cachedResultName": "Поиск по направлению ТГ"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Направление": "={{ $json.line }}"
          },
          "matchingColumns": [
            "Направление"
          ],
          "schema": [
            {
              "id": "Направление",
              "displayName": "Направление",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        960,
        16
      ],
      "id": "b91f39d1-8e8e-439f-8a85-664322e9733b",
      "name": "Call 'Поиск по направлению ТГ'",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "line",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        192,
        0
      ],
      "id": "2b54818a-662a-408b-83c6-861b3103d36a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "fieldToSplitOut": "line",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "id": "31afcb04-dff3-4e33-8c89-82acdb73465f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "\n  {\n    \"line\": [\n      \"Юридическое сопровождение банкротства юридических лиц\",\n      \"Защита от субсидиарной ответственности\",\n      \"Взыскание долга через банкротство должника\",\n      \"Взыскание долга через привлечение к субсидиарной ответственности\",\n      \"Анализ компании на признаки банкротства\",\n      \"Профилактика банкротства компании\",\n      \"Сопровождение корпоративных споров, связанных с банкротством\",\n      \"Сопровождение арбитражных споров, связанных с банкротством\",\n      \"Сопровождение налоговых споров, связанных с банкротством\",\n      \"Оспаривание сделок в процедуре банкротства\",\n      \"Защита бизнеса в рамках банкротных процедур\"\n    ]\n  }\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        208
      ],
      "id": "6a67771c-f841-4ef1-88bc-77465da81bc1",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        208
      ],
      "id": "d7c38d48-4a4e-4878-9185-e8511944de56",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "C3ZX5ZdFqhqHHYwQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/C3ZX5ZdFqhqHHYwQ",
          "cachedResultName": "Поиск по направлению"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Направление": "={{ $('Loop Over Items2').item.json.line }}"
          },
          "matchingColumns": [
            "Направление"
          ],
          "schema": [
            {
              "id": "Направление",
              "displayName": "Направление",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1168,
        16
      ],
      "id": "e6417a85-3484-4043-a72a-b71f6c729619",
      "name": "Call 'Поиск по направлению'",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Call 'Поиск по направлению ТГ'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Поиск по направлению ТГ'": {
      "main": [
        [
          {
            "node": "Call 'Поиск по направлению'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Поиск по направлению'": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "meta": null
}
