n8n/принимаем-сообщение-что-пользователь-нажал-на-старт-в-боте-вк-ERSWyrKTUvzn.json
{
  "name": "Принимаем сообщение что пользователь нажал на старт в боте ВК",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://217.26.24.119:3000/listeners/vk/start",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "vk_get_start"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        16,
        -192
      ],
      "id": "3637a2ce-4b05-4c7e-b53a-df38d791d83e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vk_callback",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        32
      ],
      "id": "ef4061cb-53df-4fe9-a886-32fa8d055e30",
      "name": "Webhook1",
      "webhookId": "82eb5dbe-eae5-4c16-94f3-87ba63ba8201"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "a3e3da07",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        224,
        -192
      ],
      "id": "754736a3-5d67-44b6-9f32-75e0774ba379",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "\n  {\n    \"headers\": {\n      \"host\": \"mokuegopasan.beget.app\",\n      \"user-agent\": \"Mozilla/5.0 (compatible; VKCallback/2.0; +https://vk.com/dev/callback_api)\",\n      \"content-length\": \"628\",\n      \"accept\": \"*/*\",\n      \"content-type\": \"application/json\",\n      \"x-forwarded-for\": \"95.142.197.132\",\n      \"x-forwarded-host\": \"mokuegopasan.beget.app\",\n      \"x-forwarded-port\": \"443\",\n      \"x-forwarded-proto\": \"https\",\n      \"x-forwarded-server\": \"ed84361b6596\",\n      \"x-real-ip\": \"95.142.197.132\",\n      \"accept-encoding\": \"gzip\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n      \"group_id\": 237079234,\n      \"type\": \"message_new\",\n      \"event_id\": \"bde51660fd4982a696f4fbc85b3fa1a2af1c2cbb\",\n      \"v\": \"5.199\",\n      \"object\": {\n        \"client_info\": {\n          \"button_actions\": [\n            \"text\",\n            \"vkpay\",\n            \"open_app\",\n            \"location\",\n            \"open_link\",\n            \"open_photo\",\n            \"callback\",\n            \"intent_subscribe\",\n            \"intent_unsubscribe\"\n          ],\n          \"keyboard\": true,\n          \"inline_keyboard\": true,\n          \"carousel\": true,\n          \"lang_id\": 0\n        },\n        \"message\": {\n          \"date\": 1779270316,\n          \"from_id\": 616589052,\n          \"id\": 72,\n          \"version\": 10000110,\n          \"out\": 0,\n          \"fwd_messages\": [],\n          \"important\": false,\n          \"is_hidden\": false,\n          \"attachments\": [],\n          \"conversation_message_id\": 32,\n          \"payload\": \"{\\\"command\\\":\\\"start\\\"}\",\n          \"text\": \"Начать\",\n          \"peer_id\": 616589052,\n          \"random_id\": 0,\n          \"ref\": \"test123\"\n        }\n      }\n    },\n    \"webhookUrl\": \"https://mokuegopasan.beget.app/webhook/vk_callback\",\n    \"executionMode\": \"production\"\n  }\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        208
      ],
      "id": "43657e8a-4c28-4f86-af61-5a566f6fdbfe",
      "name": "Пример запроса"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        208
      ],
      "id": "6c9da32f-2ead-4410-88bf-c26a6769a68e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35d5b19b-5848-4876-9570-3dc777406303",
              "name": "platform",
              "value": "={{ $json.body.event === \"telegram_bot_start\" ? \"tg\" : \"vk\" }}",
              "type": "string"
            },
            {
              "id": "fe84d9c2-0767-4f3e-a764-1d2fbc65af96",
              "name": "token",
              "value": "={{ $json.body.object.message.ref }}",
              "type": "string"
            },
            {
              "id": "9df6a631-f0e4-4d20-a348-ed7b767066ea",
              "name": "profile",
              "value": "={{ $json.body.object.message }}",
              "type": "object"
            },
            {
              "id": "35ea89b4-9d01-4db3-9319-cf9182888182",
              "name": "external_recipient_id",
              "value": "={{ $json.body.object.message.peer_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        96
      ],
      "id": "6fdacb48-76df-496c-8275-566114349cd2",
      "name": "Собиравем поля для запроса"
    },
    {
      "parameters": {
        "content": "DhQ5/aP+dfDZWuHeLGZI3fXd8ltMrpSC9gSwDDYRE5k=\n\nX-Internal-Secret"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        -160
      ],
      "id": "d85de631-b7f2-4296-96ec-3f646078f7ef",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gragipemuse.beget.app/api/internal/contact-bind/consume",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "platform",
              "value": "={{ $('Собиравем поля для запроса').item.json.platform }}"
            },
            {
              "name": "token",
              "value": "={{ $('Собиравем поля для запроса').item.json.token }}"
            },
            {
              "name": "externalRecipientId",
              "value": "={{ $('Собиравем поля для запроса').item.json.external_recipient_id }}"
            },
            {
              "name": "displayName",
              "value": "={{ $json.response[0].first_name }} {{ $json.response[0].last_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        96
      ],
      "id": "bcb0ac25-c05f-4316-a97a-3b14d30fb45d",
      "name": "Consume",
      "credentials": {
        "httpHeaderAuth": {
          "id": "V3AmVcZS4pkuo9Eb",
          "name": "Авторизация для добавления канала"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.vk.com/method/users.get",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_ids",
              "value": "={{ $json.profile.peer_id }}"
            },
            {
              "name": "access_token",
              "value": "vk1.a.pEnDNFOm2hY2Vu0t7TovDoulkHiS_8fmrakUPeHUysAhFvdKdhtnyHhlWkdiLcymt8E4QB1KiaclOTovqaSB7TkqGm6_7YqqaOEbGOVXWcPNM7Gk9mSpaP32cVbEPozRCiQsBbnSYlPrCh5QUcBDSsbtRTSNoaZTYekBaEsgp1dgYmgmb5b2axFk9uCH2quRHuGGr9wEhP6DbCiH7YB-vw"
            },
            {
              "name": "v",
              "value": "5.199"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        384,
        96
      ],
      "id": "d38234d0-550f-4c16-ab7d-904408a2f303",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://217.26.24.119:3000/messages/vk/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"vk_get_start\",\n  \"chat_id\": {{ $('HTTP Request1').item.json.response[0].id }},\n  \"text\": \"Уведомления в ВК включены, вы можете вернуться на сайт!\",\n  \"keyboard\": {\n    \"inline\": true,\n    \"buttons\": [\n      [\n        {\n          \"action\": {\n            \"type\": \"open_link\",\n            \"label\": \"Вернуться на сайт\",\n            \"link\": \"https://gragipemuse.beget.app/notifications\"\n          }\n        }\n      ]\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        768,
        96
      ],
      "id": "3ac87133-2ac1-4b23-9a38-130149fce0e2",
      "name": "Отправка ВК"
    }
  ],
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Собиравем поля для запроса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Пример запроса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Пример запроса": {
      "main": [
        [
          {
            "node": "Собиравем поля для запроса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Собиравем поля для запроса": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Consume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consume": {
      "main": [
        [
          {
            "node": "Отправка ВК",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
