n8n/создать-слушатель-телеграм-IiV06ftOjux7-newapi.json
{
  "name": "Создать слушатель телеграм (новый prod API)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Account"
            },
            {
              "name": "Webhook"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -256,
        -16
      ],
      "id": "f1d2685b-0ff8-4fac-bfe9-edb451dde5e8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "source_channels",
          "mode": "list",
          "cachedResultName": "source_channels"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "platform_id",
              "value": "2"
            },
            {
              "column": "is_active",
              "value": "True"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        -16
      ],
      "id": "47ef0970-c0a3-4401-a750-87736c1aeb60",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "oDhlznSq4rKFi3EP",
          "name": "База_ядра"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lidogen-balancer-tg-prod.web.oboyma.ai/discovery-api/parser/start",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        -16
      ],
      "id": "47c6d07d-0bd7-4c4d-8978-f7f1b7758ae6",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5okNCR8zaFTeWUrt",
          "name": "Авторизация телеграм поиск"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Run once for all items\n\nconst trigger = $('When Executed by Another Workflow').first().json ?? {};\n\nconst account = (trigger.Account ?? '').toString().trim();\nconst webhook = (trigger.Webhook ?? '').toString().trim();\n\nif (!account) {\n  throw new Error('Пустой Account во входе When Executed by Another Workflow');\n}\nif (!webhook) {\n  throw new Error('Пустой Webhook во входе When Executed by Another Workflow');\n}\n\nlet rows = [];\nif (items.length === 1 && Array.isArray(items[0].json)) {\n  rows = items[0].json;\n} else {\n  rows = items.map(i => i.json);\n}\n\nfunction toChannelRef(row) {\n  const username = row?.metadata?.username?.toString().trim();\n  if (username) return `@${username.replace(/^@+/, '')}`;\n\n  const url = row?.external_url?.toString().trim();\n  if (url) return url;\n\n  return null;\n}\n\nconst channelSet = new Set();\nfor (const row of rows) {\n  const ref = toChannelRef(row);\n  if (ref) channelSet.add(ref);\n}\n\nconst channel_list = [...channelSet];\nif (!channel_list.length) {\n  throw new Error('channel_list пустой после сборки');\n}\n\nreturn [\n  {\n    json: {\n      session_name: `/app/sessions/${account}`,\n      channel_list,\n      webhook_url: webhook,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -16
      ],
      "id": "50040f2c-3445-4ede-a684-ff7dbd37f403",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IiV06ftOjux7BVYv",
          "mode": "list",
          "cachedResultUrl": "/workflow/IiV06ftOjux7BVYv",
          "cachedResultName": "Создать слушатель телеграм"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Account": "Lidochka_main",
            "Webhook": "https://mokuegopasan.beget.app/webhook/telegram-messages"
          },
          "matchingColumns": [
            "Account"
          ],
          "schema": [
            {
              "id": "Account",
              "displayName": "Account",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Webhook",
              "displayName": "Webhook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -208,
        -192
      ],
      "id": "a167af41-cf2f-4e4d-8ba5-8eef8432592b",
      "name": "Call 'Создать слушатель телеграм'"
    },
    {
      "parameters": {
        "url": "https://lidogen-balancer-tg-prod.web.oboyma.ai/discovery-api/parser/list",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        16,
        -192
      ],
      "id": "3a3f414d-6d6c-4b0f-a6b7-670475d0202e",
      "name": "Список слушателей",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5okNCR8zaFTeWUrt",
          "name": "Авторизация телеграм поиск"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://lidogen-balancer-tg-prod.web.oboyma.ai/discovery-api/parser/68ab3fe0c2b047dbb586bd70847a924d",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        -224
      ],
      "id": "ecbd2c25-513f-4e96-a110-d0317093ac50",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5okNCR8zaFTeWUrt",
          "name": "Авторизация телеграм поиск"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
