n8n/сообщение-в-вк-опционально-с-кнопками-NTfeVCens3Jh.json
{
  "name": "Сообщение в ВК опционально с кнопками",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://217.26.24.119:3000/messages/vk/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"client_id\": \"237079234\",\n  \"chat_id\": 2000000001,\n  \"text\": \"Выберите действие:\",\n  \"keyboard\": {\n    \"inline\": true,\n    \"buttons\": [\n      [\n        {\n          \"action\": {\n            \"type\": \"text\",\n            \"label\": \"Каталог\"\n          },\n          \"color\": \"primary\"\n        },\n        {\n          \"action\": {\n            \"type\": \"text\",\n            \"label\": \"Помощь\"\n          },\n          \"color\": \"secondary\"\n        }\n      ],\n      [\n        {\n          \"action\": {\n            \"type\": \"text\",\n            \"label\": \"Связаться с менеджером\"\n          },\n          \"color\": \"positive\"\n        }\n      ]\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -16,
        -224
      ],
      "id": "483a579e-a1f7-4c2b-986b-bdb9b92d0eca",
      "name": "ОТПРАВЛЯЕМ СООБЩЕНИЕ С КНОПКОЙ ОПЛАТЫ",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mk4NuVi4Xb8V1oqr",
          "name": "Omni_parser_creds"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Входные данные из вызывающего воркфлоу\nconst input = $input.item.json;\n\n// Массив кнопок: [{\"link\": \"https://...\", \"label\": \"Текст кнопки\"}, ...]\nconst buttons = input.buttons || [];\n\n// Формируем VK keyboard: каждая кнопка — отдельная строка (ряд)\nconst vkButtons = buttons.map(btn => [\n  {\n    action: {\n      type: \"open_link\",\n      link: btn.link,\n      label: btn.label\n    }\n  }\n]);\n\nconst keyboard = {\n  inline: true,\n  buttons: vkButtons\n};\n\nreturn {\n  json: {\n    client_id: `${input.sender_id}`,\n    chat_id: input.recipient_id,\n    text: input.text || \"\",\n    keyboard: keyboard\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        752
      ],
      "id": "d949b718-71f3-4548-8506-bb57ab383d04",
      "name": "Собираем клавиатуру"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://217.26.24.119:3000/messages/vk/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        624
      ],
      "id": "c6440f65-ec1f-4484-b745-00502d2857b8",
      "name": "Отправляем сообщение с кнопками",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mk4NuVi4Xb8V1oqr",
          "name": "Omni_parser_creds"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NTfeVCens3JhtPF8",
          "mode": "list",
          "cachedResultUrl": "/workflow/NTfeVCens3JhtPF8",
          "cachedResultName": "Сообщение в ВК опционально с кнопками"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": 2000000001,
            "group_id": "237079234",
            "text": "ВСЕ ЧТО НУЖНО ЧТОБЫ БОТ МОГ ОТПРАВЛЯТЬ СООБЩЕНИЯ В ЧАТЫ ТИПО ТАКОГО ТЕПЕРЬ - ДОБАВИТЬ ЕГО В ЧАТ И ПОСТАВИТЬ ЕМУ ВМЕСТО ID КЛИЕНТА ID ЧАТА!"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "group_id",
              "displayName": "group_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "buttons",
              "displayName": "buttons",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -304,
        240
      ],
      "id": "52ed9369-b37c-4e07-9141-a1c5718c54d8",
      "name": "Call 'отправка кнопок ВК'"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Channel"
            },
            {
              "name": "sender_id",
              "type": "number"
            },
            {
              "name": "recipient_id",
              "type": "number"
            },
            {
              "name": "text"
            },
            {
              "name": "buttons",
              "type": "array"
            },
            {
              "name": "image_url"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -624,
        752
      ],
      "id": "cf409c76-ed65-42a6-ad2f-b323336ddb03",
      "name": "Получаем данные для сообщения",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "97afbc6a-0c9b-4a12-bfbb-63d357172cb7",
              "leftValue": "={{ $json['channel '] }}",
              "rightValue": "vk",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -176,
        752
      ],
      "id": "1002a622-f455-4458-ac35-64a18785c60b",
      "name": "Отправляем в ВК?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://217.26.24.119:3000/messages/telegram/send_rich",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        880
      ],
      "id": "4aafc919-c499-470f-8159-0c88edfb6f5a",
      "name": "Отправляем сообщение Telegram (send_rich)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mk4NuVi4Xb8V1oqr",
          "name": "Omni_parser_creds"
        }
      }
    }
  ],
  "connections": {
    "Собираем клавиатуру": {
      "main": [
        [
          {
            "node": "Отправляем в ВК?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем данные для сообщения": {
      "main": [
        [
          {
            "node": "Собираем клавиатуру",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляем в ВК?": {
      "main": [
        [
          {
            "node": "Отправляем сообщение с кнопками",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправляем сообщение Telegram (send_rich)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
