n8n/читаем-старые-сообщения-SS21fOFcrvtz.json
{
  "name": "Читаем старые сообщения",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        432,
        0
      ],
      "id": "7b76d52c-6c02-4309-ad57-c23c6d0bbf5a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  *\nFROM in_app_notifications n\nJOIN monitoring_projects p  ON p.id  = n.project_id\nLEFT JOIN project_subscriptions ps\n       ON ps.id = n.entity_id\n      AND n.entity_type = 'project_subscription'\nLEFT JOIN user_wallets w    ON w.user_id = p.owner_user_id\n\nWHERE n.type IN ('new_lead')\n  AND n.is_read = FALSE\n  AND n.created_at < NOW() - INTERVAL '3 days'\nORDER BY n.created_at DESC\nLIMIT 100;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        0
      ],
      "id": "3ea6d31e-82db-4e98-baf2-9589d8f40845",
      "name": "Получаем непрочитанные лиды",
      "credentials": {
        "postgres": {
          "id": "MT0DVs8fV57WNl5G",
          "name": "Доступ_к_ядру"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "in_app_notifications",
          "mode": "list",
          "cachedResultName": "in_app_notifications"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_read": true,
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "new_lead",
                  "value": "new_lead"
                },
                {
                  "name": "system_report",
                  "value": "system_report"
                },
                {
                  "name": "billing_paid",
                  "value": "billing_paid"
                },
                {
                  "name": "billing_failed",
                  "value": "billing_failed"
                },
                {
                  "name": "subscription_expiring",
                  "value": "subscription_expiring"
                },
                {
                  "name": "channel_request_approved",
                  "value": "channel_request_approved"
                },
                {
                  "name": "channel_request_rejected",
                  "value": "channel_request_rejected"
                },
                {
                  "name": "subscription_renewed",
                  "value": "subscription_renewed"
                },
                {
                  "name": "balance_topup_reminder",
                  "value": "balance_topup_reminder"
                }
              ],
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "entity_type",
              "displayName": "entity_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "entity_id",
              "displayName": "entity_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_read",
              "displayName": "is_read",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "read_at",
              "displayName": "read_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        688,
        16
      ],
      "id": "576f5ae2-682a-49a8-99ce-9f20ccef1692",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "oDhlznSq4rKFi3EP",
          "name": "База_ядра"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "285fc73b-57d8-4cdc-8d3e-9a29a4d39611",
      "name": "Раз в день"
    }
  ],
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем непрочитанные лиды": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Раз в день": {
      "main": [
        [
          {
            "node": "Получаем непрочитанные лиды",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Раз в день": {
      "recurrenceRules": []
    }
  },
  "pinData": {},
  "meta": null
}
