n8n/эндпойнты-clumps-новый-сервер-3Tdw4BDO0eLz-newapi.json
{
  "name": "Эндпойнты clumps новый сервер (новый prod API)",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://lidogen-balancer-tg-prod.web.oboyma.ai/discovery-api/auth/qr",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session_name",
              "value": "Lidochka_main_2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "5dddf15f-0cd6-44a1-99df-70ef5b80a1f8",
      "name": "QR регистрация сессии",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5okNCR8zaFTeWUrt",
          "name": "Авторизация телеграм поиск"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -512,
        304
      ],
      "id": "e4ed0863-eef5-475b-89dc-3cfcc641a49f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=https://lidogen-balancer-tg-prod.web.oboyma.ai/discovery-api/auth/qr/{{ $('QR регистрация сессии').item.json.session_id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        656,
        0
      ],
      "id": "ffb2ec3d-170c-4d10-b022-49c4c5cc6069",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5okNCR8zaFTeWUrt",
          "name": "Авторизация телеграм поиск"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "bd11f4b7-56a1-4535-8dce-9fe3b270c269",
      "name": "Wait",
      "webhookId": "9e5d8251-1bde-4084-baa5-10e2c4bafd64"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a678edb-0c9b-4011-9cb6-fa396cb481a6",
              "name": "register_session",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        304
      ],
      "id": "a073c348-8bc5-47d2-a4d4-9a0e8f276eff",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.register_session }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "f3686f23-ecca-4561-a1a4-dde16c18928a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Register"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -96,
        304
      ],
      "id": "1d2d59ae-1375-4c54-bcc9-4da42d447476",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "source_channels",
          "mode": "list",
          "cachedResultName": "source_channels"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "platform_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -192,
        0
      ],
      "id": "f7adf91d-8e0d-43f7-9c4a-30ebcfcca258",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "oDhlznSq4rKFi3EP",
          "name": "База_ядра"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR регистрация сессии": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "QR регистрация сессии",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
