n8n/backups/callers/20260627-142027/мониторим-новые-лиды-rfwZP2B8DuZy.json
{
  "name": "Мониторим новые лиды",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        432,
        0
      ],
      "id": "eb1c2aa9-3a0c-412a-ae31-b60342ba7021",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "6d4abdfc-c0f9-440f-8021-53b0676289f6",
      "name": "Раз в минуту"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  *\nFROM in_app_notifications n\nJOIN monitoring_projects p  ON p.id  = n.project_id\nLEFT JOIN project_subscriptions ps\n       ON ps.id = n.entity_id\n      AND n.entity_type = 'project_subscription'\nLEFT JOIN user_wallets w    ON w.user_id = p.owner_user_id\n\nWHERE n.type IN (\n  'new_lead'\n) AND n.is_read = FALSE\nORDER BY n.created_at DESC\nLIMIT 100;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        0
      ],
      "id": "44a35b94-564b-47ae-995b-cbec7012d37e",
      "name": "Получаем непрочитанные лиды",
      "credentials": {
        "postgres": {
          "id": "MT0DVs8fV57WNl5G",
          "name": "Доступ_к_ядру"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "message_ai_screening_runs",
          "mode": "list",
          "cachedResultName": "message_ai_screening_runs"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.entity_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        688,
        16
      ],
      "id": "56580de3-7295-4af6-bb65-808f745e6a9c",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "oDhlznSq4rKFi3EP",
          "name": "База_ядра"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RyoJ2daiN7LB2lUT",
          "mode": "list",
          "cachedResultUrl": "/workflow/RyoJ2daiN7LB2lUT",
          "cachedResultName": "отправка сообщений из очереди"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        896,
        16
      ],
      "id": "3490309f-97b0-4fae-92a4-2fa3eeea45d5",
      "name": "Call 'отправка сообщений из очереди'"
    }
  ],
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Раз в минуту": {
      "main": [
        [
          {
            "node": "Получаем непрочитанные лиды",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем непрочитанные лиды": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Call 'отправка сообщений из очереди'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'отправка сообщений из очереди'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Раз в минуту": {
      "recurrenceRules": []
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
