n8n/backups/callers/20260627-142027/поиск-по-направлению-C3ZX5ZdFqhqH.json
{
  "name": "Поиск по направлению",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Направление"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -256,
        16
      ],
      "id": "d667012e-c37b-41ac-811e-a335d1d337c1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ejj4SsLhqLbGHUSN",
          "mode": "list",
          "cachedResultUrl": "/workflow/ejj4SsLhqLbGHUSN",
          "cachedResultName": "RunSeedGeneration"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Buisness_desc": "={{ $json['Направление'] }}"
          },
          "matchingColumns": [
            "Buisness_desc"
          ],
          "schema": [
            {
              "id": "Buisness_desc",
              "displayName": "Buisness_desc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -48,
        16
      ],
      "id": "85b6f790-304b-4c16-884d-bb0df23dc7ea",
      "name": "Call 'RunSeedGeneration'"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        192,
        16
      ],
      "id": "d6c7afb7-fdc2-4039-967c-22b4de950fbb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mokuegopasan.beget.app/webhook/vk/search-with-score",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{$json.seed}}"
            },
            {
              "name": "count",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        32
      ],
      "id": "e4fbc838-2046-4f7f-8fd6-79802f5418af",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a334749-62c9-4f54-94ef-def9a1669911",
              "name": "result",
              "value": "ok",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        -128
      ],
      "id": "5de15941-6135-4383-8485-de9f93577254",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ejj4SsLhqLbGHUSN",
          "mode": "list",
          "cachedResultUrl": "/workflow/ejj4SsLhqLbGHUSN",
          "cachedResultName": "RunSeedGeneration"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Buisness_desc": "={{ $json['Направление'] }}"
          },
          "matchingColumns": [
            "Buisness_desc"
          ],
          "schema": [
            {
              "id": "Buisness_desc",
              "displayName": "Buisness_desc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        16,
        384
      ],
      "id": "948a0ea3-c696-47d5-9936-d188502c5b6a",
      "name": "Call 'RunSeedGeneration'1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        384
      ],
      "id": "fad2b617-3893-45ee-b2e7-7954a6ba41a0",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a334749-62c9-4f54-94ef-def9a1669911",
              "name": "result",
              "value": "ok",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        240
      ],
      "id": "e60b2b51-9cd2-4b08-b4af-804ca5d19b9e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Cno7xg0nQg8DxpB2",
          "mode": "list",
          "cachedResultUrl": "/workflow/Cno7xg0nQg8DxpB2",
          "cachedResultName": "Телеграм поиск"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.seed }}",
            "first_pass_limit": 30,
            "similarity_depth": 2,
            "Account": "Lidochka_main"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "first_pass_limit",
              "displayName": "first_pass_limit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "similarity_depth",
              "displayName": "similarity_depth",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "Account",
              "displayName": "Account",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        448,
        400
      ],
      "id": "25e2286e-1ce1-456b-b2e0-e082af8b8483",
      "name": "Call 'Телеграм поиск'"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "  \n{\n  \n  \n\"Направление\": \n\"банкротсво юрлиц\"\n  \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        32
      ],
      "id": "1b02a8af-1fb9-4e6a-9ad7-66b87ae655ef",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "source_channels",
          "mode": "list",
          "cachedResultName": "source_channels"
        },
        "where": {
          "values": [
            {
              "column": "external_channel_id",
              "value": "-189154975"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -112,
        -128
      ],
      "id": "f0e1ba52-94ac-41c8-b11a-1a6edabe9500",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "oDhlznSq4rKFi3EP",
          "name": "База_ядра"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Call 'RunSeedGeneration'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'RunSeedGeneration'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'RunSeedGeneration'1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Телеграм поиск'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Телеграм поиск'": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
